.App {
  font-family: sans-serif;
  /* font-size: 1.0em; */
}

textarea {
  font-size: 1.1em;
  width: 70%;
  display: block;
  margin: auto;
}

table {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 40%;
  margin: 1.5em auto;
  text-align: left;
  border-collapse: collapse;
  text-align: right;
}

thead {
  font-weight: bolder;
  text-align: center;
  border: 2px solid #999;
}

th,
td {
  border: 1px solid #aaa;
}

.error {
  color: #922;
}

.results td {
  padding: 0.1em .5em;
}
.results th {
  font-weight: bolder;
  padding: 0.1em .5em;
}

.no-pad {
  margin: 0px;
  padding: 0px;
}

.description {
  white-space: pre-line;
}

.desc {
  margin-bottom: 1em;
  display: block;
}

.jumbotron {
  padding: 1em 2rem;
}

.correct {
  padding: 0;
  margin: 0;
  border: 2px green solid;
}

.incorrect {
  padding: 0;
  margin: 0;
  border: 2px red solid;
}


.desiredTextarea {
  width: 100%;
}

.desiredOutputs {
  padding: .1em 1em;
}